apiVersion: v1
kind: ConfigMap
metadata:
  name: nginx-config-map
data:
  nginx.conf: |
    events {
        worker_connections 1024;
    }
    
    http {
        include       /etc/nginx/mime.types;
        default_type  application/octet-stream;
        
        server {
            listen 80;
            server_name localhost;
            
            location / {
                root   /usr/share/nginx/html;
                index  index.html index.htm;
            }
            
            location /api/ {
                proxy_pass http://backend-service:8080/;
                proxy_set_header Host $host;
                proxy_set_header X-Real-IP $remote_addr;
            }
        }
    }
  config.json: |
    [
        {
            "pattern": "/api/users",
            "endpoint": "http://localhost:8080/health"
        },
        {
            "pattern": "/api/products",
            "endpoint": "http://localhost:8080/heartbeat"
        }
    ]